
/* native ads */

.native-ad
{
    overflow: hidden;
}
.native-ad _img
{
    filter: blur(2px);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
}
.native-ad .content
{
    border: 1px solid #CCC;
    border-top: 0px;
    margin-bottom:10px;
    padding: 0px;
}
.native-ad .author
{
    font-size: 11px;
    color: #737373;
    padding: 5px;
}
.native-ad .post-img-content
{
    height: 90px;
    position: relative;
    overflow: hidden;
}
.native-ad .post-img-content img
{
    position: absolute;
}

.native-ad .color-white{
  color:#FFFFFF;
  text-shadow: 0px 0px 9px rgba(0, 0, 0, 1);
}

.native-ad .color-black{
  color: #000000 !important;
  text-shadow: 0px 0px 9px rgba(255, 255, 255, 1);
}

.native-ad .post-corner{
    padding-right: 5px;
    position: absolute;
    text-align: right;
    top: 0;
    vertical-align: bottom;
    width: 100%;
    z-index: 2;
}


.native-ad .post-title
{
   bottom: 0;
    display: block;
    position: absolute;
    vertical-align: bottom;
    width: 100%;
    z-index: 2;
}
.native-ad .post-title span
{
    background-color: rgba(51, 51, 51, 0.58);
    display: block;
    color: #FFF;
    padding: 5px;
    margin-top: 3px 5px;
}

a:hover .native-ad{
  text-decoration: none;
}

.green{
  color: #08DB91 !important;/*#3c763d/*#87C63D;/* #0D9B0D;*/
}

.bg-green{
  background-color: #08DB91 !important;/*#3c763d/*#87C63D;/* #0D9B0D;*/
}


.p5{ padding:5px;}
.pl10{ padding-left:10px; }
.pl15{ padding-left:15px; }
.pr10{ padding-right:10px; }
.pr15{ padding-right:15px; }

.pl0{ padding-left:0px; }
.pr0{ padding-right:0px; }

.mt0{
    margin-top: 0px;
}

.mb0{
    margin-bottom: 0px;
}

.dpb{
  display:block;
}

.dpib{
  display:inline-block;
}

.bg-lite-gray{
    background-color:#DFDFDF;
}

.bg-white{
    background-color: #FFFFFF;
}

.white{
    color: #FFFFFF;
}

.pt10{
    padding-top:10px;
}

.pb10{
    padding-bottom:10px;
}


.p10 {
    padding:10px;
}
.mt10{
    margin-top:10px;
}
.mb10{
    margin-bottom: 10px;
}



.mt20{
  margin-top: 20px;
}

.mt75{
  margin-top: 75px;
}

.mt60{
  margin-top: 60px;
}

.mt50{
  margin-top: 50px;
}

.mt30{
  margin-top: 30px;
}


.mt120{
  margin-top: 120px;
}

.mt220{
  margin-top: 220px;
}


.ml15{
  margin-left: 15px;
}

.mt15{
  margin-top: 15px;
}

.p25{
  padding: 25px !important;
}

.mt25{
  margin-top: 25px !important;
}

.mb25{
  margin-bottom: 25px !important;
}

.mb65{
  margin-bottom: 65px !important;
}

.mt10{
  margin-top: 10px;
}

.mt5{
  margin-top: 5px;
}
.mb5{
  margin-bottom: 5px;
}
.ml5{
  margin-left: 5px;
}
.mr5{
  margin-right: 5px !important;
}

.mb2{
  margin-bottom: 2px;
}

.ml2{
  margin-left: 2px;
}

.mr2{
  margin-right: 2px;
}

.mb15{
  margin-bottom: 15px;
}

.mr10{
    margin-right: 10px;
}

.mr15{
  margin-right: 15px;
}

.mr8{
  margin-right: 8px;
}

.mb12{
  margin-bottom: 12px;
}

.mr0{
  margin-right: 0px;
}

.p0{
    padding:0px;
}


.no-border-radius{
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

.border-radius-5{
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  border-radius: 5px !important;
}

.border-radius-6{
  -webkit-border-radius: 6px !important;
  -moz-border-radius: 6px !important;
  border-radius: 6px !important;
}

.border-radius-10{
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  border-radius: 10px !important;
}

.border-top-radius-5{
  border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  border:1px solid #ccc;
}

.border-bottom-radius-5{
  border-radius:  0px 0px 5px 5px;
  -moz-border-radius: 0px 0px 5px 5px;
  -webkit-border-radius: 0px 0px 5px 5px;
}

.border-bottom-radius-6{
  border-radius:  0px 0px 6px 6px;
  -moz-border-radius: 0px 0px 6px 6px;
  -webkit-border-radius: 0px 0px 6px 6px;
}

.border-radius-15{
  -webkit-border-radius: 15px !important;
  -moz-border-radius: 15px !important;
  border-radius: 15px !important;
}

.border-radius-25{
  -webkit-border-radius: 25px !important;
  -moz-border-radius: 25px !important;
  border-radius: 25px !important;
}


.border-pink{
  border:1px solid #FC807E; 
} 


.btn-pink { 
  color: #ffffff; 
  background-color: #FF9391; 
  border-color: #FC807E; 
} 
 
.btn-pink:hover, 
.btn-pink:focus, 
.btn-pink:active, 
.btn-pink.active, 
.navbar-default .navbar-nav > li > a.btn-pink:hover,
.open .dropdown-toggle.btn-pink { 
  color: #ffffff; 
  background-color: #FFA3A1; 
  border-color: #FC807E; 
} 
 
.btn-pink:active, 
.btn-pink.active, 
.open .dropdown-toggle.btn-pink { 
  background-image: none; 
} 
 
.btn-pink.disabled, 
.btn-pink[disabled], 
fieldset[disabled] .btn-pink, 
.btn-pink.disabled:hover, 
.btn-pink[disabled]:hover, 
fieldset[disabled] .btn-pink:hover, 
.btn-pink.disabled:focus, 
.btn-pink[disabled]:focus, 
fieldset[disabled] .btn-pink:focus, 
.btn-pink.disabled:active, 
.btn-pink[disabled]:active, 
fieldset[disabled] .btn-pink:active, 
.btn-pink.disabled.active, 
.btn-pink[disabled].active, 
fieldset[disabled] .btn-pink.active { 
  background-color: #FF9391; 
  border-color: #FC807E; 
} 
 
.btn-pink .badge { 
  color: #FF9391; 
  background-color: #ffffff; 
}




.btn-lite-gray { 
  color: #ffffff; 
  background-color: #CCD0D9; 
  border-color: #CCD0D9; 
} 
 
.btn-lite-gray:hover, 
.btn-lite-gray:focus, 
.btn-lite-gray:active, 
.btn-lite-gray.active, 
.open .dropdown-toggle.btn-lite-gray { 
  color: #ffffff; 
  background-color: #CCD0D9; 
  border-color: #CCD0D9; 
} 
 
.btn-lite-gray:active, 
.btn-lite-gray.active, 
.open .dropdown-toggle.btn-lite-gray { 
  background-image: none; 
} 
 
.btn-lite-gray.disabled, 
.btn-lite-gray[disabled], 
fieldset[disabled] .btn-lite-gray, 
.btn-lite-gray.disabled:hover, 
.btn-lite-gray[disabled]:hover, 
fieldset[disabled] .btn-lite-gray:hover, 
.btn-lite-gray.disabled:focus, 
.btn-lite-gray[disabled]:focus, 
fieldset[disabled] .btn-lite-gray:focus, 
.btn-lite-gray.disabled:active, 
.btn-lite-gray[disabled]:active, 
fieldset[disabled] .btn-lite-gray:active, 
.btn-lite-gray.disabled.active, 
.btn-lite-gray[disabled].active, 
fieldset[disabled] .btn-lite-gray.active { 
  background-color: #CCD0D9; 
  border-color: #CCD0D9; 
} 
 
.btn-lite-gray .badge { 
  color: #CCD0D9; 
  background-color: #ffffff; 
}



h1.fw300,
.fw300{
  font-weight: 300 !important;
}

.fw500{
  font-weight: 500  !important;
}

.fw700{
  font-weight: 700  !important;
}

.fw900{
  font-weight: 900;
}

.fs175{
  font-size:175%;
}

.fs125{
  font-size:130%;
}

.fs150{
  font-size:150%;
}

.fs500{
  font-size:500%;
}

.fs300{
  font-size: 300%;
}


.dpib{
  display:inline-block;
}

.border-pink{
  border:1px solid #FC807E; 
} 

.pink{
  color:#FF9191 !important;
}
.label-pink,
.bg-pink{
  background-color:#FF9191;
}


.fs220{
  font-size: 220%;
}

.fs90{
  font-size:90%;
}

.fs75{
  font-size:75%;
}

.fs60{
  font-size:60%;
}


.fs200{
  font-size:200%;
}


