@font-face {
	font-family: "Flaticon";
	src: url("https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/flaticon/flaticon.eot");
	src: url("https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/flaticon/flaticon.eot#iefix") format("embedded-opentype"),
	url("https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/flaticon/flaticon.woff") format("woff"),
	url("https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/flaticon/flaticon.ttf") format("truetype"),
	url("https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/flaticon/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
  __font-size: 20px;
	font-style: normal;
	__margin-left: 20px;
}.flaticon-33:before {
	content: "\e000";
}
.flaticon-acupuncture:before {
	content: "\e001";
}
.flaticon-acupuncture1:before {
	content: "\e002";
}
.flaticon-apple41:before {
	content: "\e003";
}
.flaticon-apple53:before {
	content: "\e004";
}
.flaticon-bank10:before {
	content: "\e005";
}
.flaticon-credit26:before {
	content: "\e006";
}
.flaticon-beauty1:before {
	content: "\e007";
}
.flaticon-brush18:before {
	content: "\e008";
}
.flaticon-calentar:before {
	content: "\e009";
}
.flaticon-chronometer19:before {
	content: "\e00a";
}
.flaticon-claw1:before {
	content: "\e00b";
}
.flaticon-credit41:before {
	content: "\e00c";
}
.flaticon-credit69:before {
	content: "\e00d";
}
.flaticon-credit70:before {
	content: "\e00e";
}
.flaticon-credit72:before {
	content: "\e00f";
}
.flaticon-credit96:before {
	content: "\e010";
}
.flaticon-debit:before {
	content: "\e011";
}
.flaticon-dental6:before {
	content: "\e012";
}
.flaticon-dentist:before {
	content: "\e013";
}
.flaticon-dentist13:before {
	content: "\e014";
}
.flaticon-diamond-icon:before {
	content: "\e015";
}
.flaticon-diamond32:before {
	content: "\e016";
}
.flaticon-diamond4:before {
	content: "\e017";
}
.flaticon-diamond44:before {
	content: "\e018";
}
.flaticon-eye110:before {
	content: "\e019";
}
.flaticon-family21:before {
	content: "\e01a";
}
.flaticon-fast-food:before {
	content: "\e01b";
}
.flaticon-fast-food10:before {
	content: "\e01c";
}
.flaticon-flower115:before {
	content: "\e01d";
}
.flaticon-flower121:before {
	content: "\e01e";
}
.flaticon-flower199:before {
	content: "\e01f";
}
.flaticon-flowers38:before {
	content: "\e020";
}
.flaticon-fruit24:before {
	content: "\e021";
}
.flaticon-fruits4:before {
	content: "\e022";
}
.flaticon-hair-dryer:before {
	content: "\e023";
}
.flaticon-hair11:before {
	content: "\e024";
}
.flaticon-hairsalon36:before {
	content: "\e025";
}
.flaticon-hairsalon4:before {
	content: "\e026";
}
.flaticon-hamburger16:before {
	content: "\e027";
}
.flaticon-healthy1:before {
	content: "\e028";
}
.flaticon-healthy7:before {
	content: "\e029";
}
.flaticon-heart256:before {
	content: "\e02a";
}
.flaticon-heart36:before {
	content: "\e02b";
}
.flaticon-house204:before {
	content: "\e02c";
}
.flaticon-jewel4:before {
	content: "\e02d";
}
.flaticon-jewel6:before {
	content: "\e02e";
}
.flaticon-jewelry5:before {
	content: "\e02f";
}
.flaticon-kids1:before {
	content: "\e030";
}
.flaticon-king17:before {
	content: "\e031";
}
.flaticon-lifeline8:before {
	content: "\e032";
}
.flaticon-lily:before {
	content: "\e033";
}
.flaticon-massage2:before {
	content: "\e034";
}
.flaticon-mastercard5:before {
	content: "\e035";
}
.flaticon-money144:before {
	content: "\e036";
}
.flaticon-money179:before {
	content: "\e037";
}
.flaticon-mortar2:before {
	content: "\e038";
}
.flaticon-mortar4:before {
	content: "\e039";
}
.flaticon-mouth3:before {
	content: "\e03a";
}
.flaticon-night12:before {
	content: "\e03b";
}
.flaticon-parking12:before {
	content: "\e03c";
}
.flaticon-parking19:before {
	content: "\e03d";
}
.flaticon-plant59:before {
	content: "\e03e";
}
.flaticon-plump:before {
	content: "\e03f";
}
.flaticon-enter3:before {
	content: "\e040";
}
.flaticon-ring27:before {
	content: "\e041";
}
.flaticon-rings4:before {
	content: "\e042";
}
.flaticon-runner5:before {
	content: "\e043";
}
.flaticon-sale21:before {
	content: "\e044";
}
.flaticon-screen54:before {
	content: "\e045";
}
.flaticon-spa10:before {
	content: "\e046";
}
.flaticon-spa21:before {
	content: "\e047";
}
.flaticon-stick5:before {
	content: "\e048";
}
.flaticon-tags9:before {
	content: "\e049";
}
.flaticon-teacher26:before {
	content: "\e04a";
}
.flaticon-teeth2:before {
	content: "\e04b";
}
.flaticon-television3:before {
	content: "\e04c";
}
.flaticon-television35:before {
	content: "\e04d";
}
.flaticon-thin37:before {
	content: "\e04e";
}
.flaticon-tooth:before {
	content: "\e04f";
}
.flaticon-tooth12:before {
	content: "\e050";
}
.flaticon-tooth19:before {
	content: "\e051";
}
.flaticon-transport81:before {
	content: "\e052";
}
.flaticon-users68:before {
	content: "\e053";
}
.flaticon-visa6:before {
	content: "\e054";
}
.flaticon-weightlifter2:before {
	content: "\e055";
}
.flaticon-wifi74:before {
	content: "\e056";
}
.flaticon-woman139:before {
	content: "\e057";
}
