@font-face {
	font-family: "highlights";
	src: url("https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/highlights/highlights.eot");
	src: url("https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/highlights/highlights.eot#iefix") format("embedded-opentype"),
	url("https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/highlights/highlights.woff") format("woff"),
	url("https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/highlights/highlights.ttf") format("truetype"),
	url("https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/highlights/highlights.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="highcon-"]:before, [class*=" highcon-"]:before,
[class^="highcon-"]:after, [class*=" highcon-"]:after {   
	font-family: highlights;
font-style: normal;
}
.highcon-18:before,
.highcon-ac:before {
	content: "\61";
}

.highcon-15:before,
.highcon-credit:before {
	content: "\62";
}

.highcon-2:before,
.highcon-appoint:before {
	content: "\64";
}

.highcon-4:before,
.highcon-ladies:before {
	content: "\66";
}

.highcon-6:before,
.highcon-men:before {
	content: "\67";
}

.highcon-14:before,
.highcon-kids:before {
	content: "\68";
}

.highcon-16:before,
.highcon-tv:before {
	content: "\63";
}

.highcon-5:before,
.highcon-unisex:before {
	content: "\69";
}

.highcon-11:before,
.highcon-wifi:before {
	content: "\6a";
}

.highcon-9:before,
.highcon-refresh:before {
	content: "\6b";
}

.highcon-12:before,
.highcon-luxury:before {
	content: "\65";
}
