body, html{
	font-family: 'Lato', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #1C1C1C; /*#5a5a5a;*/
  background-color: #EAEAEA;/*#DDDDDD;/*#FCFBF9;*/
	font-size: 13px;
}


.ui-widget{
  font-family: 'Lato', sans-serif;
}

h1{
	text-transform: uppercase;
}

h1 strong{
	font-weight: 900;
}

h2{
	text-transform: uppercase;
	__line-height: 20px;
	margin:  0;
}


h3{
  font-size: 18px;
  font-weight: 900;
}

.blur{ 
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(5px);
}

sup {
  top: -0.5em;
  font-size: 65%;
  font-weight: bold;
}

h4{
	text-transform: uppercase;
}
h5{
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}
p{
	__font-family: 'Open Sans', sans-serif;
}
p.intro{
	font-size: 16px;
	margin: 12px 0 0;
	line-height: 24px;
	__font-family: 'Open Sans', sans-serif;
}
a{ color: #1e1e1e;}
a:hover,
a:focus{
	text-decoration: none !important;
	color: #000;
}

.section-title hr{
	border-color: #ED00A6;
	border-width: 4px;
	width: 60px;
	float: left;
	clear: both;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.inline-block{display: inline-block !important;}     
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
ul, ol{
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}
/* Navigation */
#tf-menu {
	padding: 20px;
	transition: all 0.8s;
  opacity: 1;
  z-index: 1000;
}

#tf-menu .top-main-logo-container{
  z-index: 10;
}

.z90{
  z-index: 90 !important;

}
#tf-menu.navbar-default {
	background-color: #454545; /*rgba(248, 248, 248, 0);*/
	border-color: rgba(231, 231, 231, 0);
}
#tf-menu a.navbar-brand {
  font-size: 20px;
  c--olor: #fff;
  font-weight: 500;
  background-image: url(https://s3.amazonaws.com/mazkaracdn/assets/mazkara-logo-white.png);
  background-repeat: no-repeat;
  background-position: 0px 11px;letter-spacing: 0.0625em;
  padding-left:120px;
  float:none;
}


#footer #tf-menu a.navbar-brand {
  background-image: url(https://s3.amazonaws.com/mazkaracdn/assets/mazkara-logo-inverse.png) !important;
}


.navbar-nav > li > a{
  line-height: normal;
}

#tf-menu.navbar-default .navbar-nav > li > a {
	color: #FFF;
	font-size: 11px;
	letter-spacing: 1px;
  font-weight: 700;
}

#tf-menu.navbar-default .navbar-nav.navbar-secondary > li > a {
  color: #ffffff;
  font-size: 13px;
  letter-spacing: 1px;
}

.navbar-secondary{
  display: table;
  width: 100%;
  position: relative;
}

#tf-menu.navbar-default .navbar-nav.navbar-secondary > li.dropdown{
  padding:0px 0px 0px 0px;
}

#tf-menu.navbar-default .navbar-nav.navbar-secondary > li.dropdown > a {
  padding:7px 10px 7px 10px;
}


#tf-menu.navbar-default .navbar-nav > li > a.btn {
  padding: 5px 10px; margin: 8px 5px;
}

#tf-menu.navbar-default .navbar-nav > li > a.btn-danger:hover{
  background-color: #9e0806;
}

#tf-menu.navbar-default .navbar-nav > li > a.btn-success:hover{
  background-color: #449d44;
}

.on {
	__background-color: #434A54 !important;
	padding: 0 !important;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
	color: #83C23D !important;
	background-color: transparent;
	font-weight: 700;
}



.navbar-toggle {
	border-radius: 0;
	}
.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
	background-color: #FFC800;   
	border-color: #FFC900;
	}
 
.navbar-default .navbar-toggle:hover > .icon-bar {
	background-color: #FFF;
}

/* Home Style */
#tf-home{
	background: url(https://s3.amazonaws.com/mazkaracdn/assets/home/group-girls.jpg);/* https://s3.amazonaws.com/mazkaracdn/assets/home-page-3.jpg);*/
	background-size: cover;
	background-position: center center;
	__background-attachment: fixed;
	background-repeat: no-repeat;
	color: #cfcfcf;
  overflow: hidden;
  position:relative; height:400px;___top:76px;width:100%;z-index:0;
}

#tf-home-text-overlay{
  ___height:300px;
  __padding-top: 20px;
}

#tf-home .overlay{
	/*background: -moz-linear-gradient(top,  rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.5) 15%, rgba(0,0,0,0.4) 25%, rgba(0,0,0,0.3) 35%, rgba(0,0,0,0.2) 60%); /* FF3.6+ */
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.6)), color-stop(15%,rgba(0,0,0,0.5)), color-stop(25%,rgba(0,0,0,0.4)), color-stop(35%,rgba(0,0,0,0.3)), color-stop(60%,rgba(0,0,0,0.2))); /* Chrome,Safari4+ */
	/*background: -webkit-linear-gradient(top,  rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.5) 15%,rgba(0,0,0,0.4) 25%,rgba(0,0,0,0.3) 35%,rgba(0,0,0,0.2) 60%); /* Chrome10+,Safari5.1+ */
	/*background: -o-linear-gradient(top,  rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.5) 15%,rgba(0,0,0,0.4) 25%,rgba(0,0,0,0.3) 35%,rgba(0,0,0,0.2) 60%); /* Opera 11.10+ */
	/*background: -ms-linear-gradient(top,  rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.5) 15%,rgba(0,0,0,0.4) 25%,rgba(0,0,0,0.3) 35%,rgba(0,0,0,0.2) 60%); /* IE10+ */
	/*background: linear-gradient(to bottom,  rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.5) 15%,rgba(0,0,0,0.4) 25%,rgba(0,0,0,0.3) 35%,rgba(0,0,0,0.2) 60%); /* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#66000000',GradientType=0 ); /* IE6-9 */
	height: 330px;
	background-attachment: fixed;
}

#tf-home p.lead{
	color: #e3e3e3;
}

#tf-home h1{
  text-shadow: 0px 0px 10px rgba(87, 87, 87, 1);
}

div.banner-head{
  padding:6px 15px 15px;
  background-color: rgba(0, 0, 0, 0.6);
}

.banner-head h1, h2.banner-head{
  color: #fff;
  font-size: 25px;
  letter-spacing: 1px;
  line-height: 2.1em;
  margin: 0px;
  text-align: center;
  width: auto;
  letter-spacing: -1px;
}

.banner-head h2.banner-head{
  letter-spacing: 1px;
  font-size: 18px;
}

.content{
	position: relative;
	padding: 11% 0 0;
}

.banner-head-content.content{
  padding: 5% 0 0;
}

.color{
	color: #ED00A6;
}

a.fa.fa-angle-down {
	padding: 10px 15px;
	color: #fff;
	border: 2px solid #b4b4b4;
	border-radius: 50%;
	font-size: 24px;
	margin-top: 200px;
	transition: all 0.5s;
}

a.fa.fa-angle-down:hover{
	background: #83C23D;
	color: #ffffff;
	border: 2px solid #83C23D;
}

.tf-section{
	padding: 20px 0px;
}
/* About Section */
#tf-about{
	padding: 80px 0;
}
ul.about-list{ margin: 30px 0 0 ;}
ul.about-list li{
	display: block;
	font-size: 16px;
	line-height: 30px;
	font-family: 'Lato', sans-serif;
}
ul.about-list li span{ 
	margin-right: 10px;
}

/* Team Section */
#tf-team{
	background: url(../img/03.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: #ffffff;
}
#tf-team .overlay{
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.73) 17%, rgba(0,0,0,0.66) 35%, rgba(0,0,0,0.55) 62%, rgba(0,0,0,0.4) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.8)), color-stop(17%,rgba(0,0,0,0.73)), color-stop(35%,rgba(0,0,0,0.66)), color-stop(62%,rgba(0,0,0,0.55)), color-stop(100%,rgba(0,0,0,0.4))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#66000000',GradientType=0 ); /* IE6-9 */
	height: auto;
	background-attachment: fixed;
	padding: 80px 0;
}
.section-title.center{
	padding: 30px 0;
}
.section-title h2,
.section-title.center h2{
	font-weight: 400;
  text-transform: none;
  letter-spacing: -1px;
}
.section-title.center .line{
	border-top: 4px solid #ED00A6;
	height: 10px;
	width: 60px;
	text-align: center;
	margin: 0 auto;
	margin-top: 20px;
}

.section-title.center hr {
	border-top: 4px solid rgba(252, 172, 69, 0.34);
	width: 40px;
	text-align: center;
	margin-top: 10px;
	position: relative;
	left: 17%;
}
#team{ margin: 0 auto}
#team .item{
    padding: 0;
    margin: 15px;
    color: #FFF;
    text-align: center;
}

img.img-circle.team-img {
	width: 120px;
	height: 120px;
	border: 4px solid transparent;
	transition: all 0.5s;
}
#tf-team .item .thumbnail:hover>img.img-circle.team-img{
	border: 4px solid #83C23D;
}
#tf-team .thumbnail {
	background: transparent;
	border: 0;
}

#tf-team .thumbnail .caption {
	padding: 9px;
	color: #F2F2F2;
}

.owl-theme .owl-controls .owl-page span {
	display: block;
	width: 10px;
	height: 10px;
	margin: 5px 7px;
	filter: Alpha(Opacity=1);
	opacity: 1;
	-webkit-border-radius: 0;
	-moz-border-radius: 20px;
	border-radius: 0;
	background: #FFFFFF;
	transition: all 0.5s;
}

.owl-theme .owl-controls .owl-page.active span, 
.owl-theme .owl-controls.clickable .owl-page:hover span {
	filter: Alpha(Opacity=100);
	opacity: 1;
	background: #83C23D;
}
.owl-theme .owl-controls .owl-page.active span{
	background: #83C23D;
}

/* Services Section */
#tf-services{
	padding: 80px 0;
}

.space{
	margin-top: 40px;
}

#tf-services i.fa {
	font-size: 40px;
	border: 4px solid #83C23D;
	width: 100px;
	height: 100px;
	padding: 27px 25px;
	margin-bottom: 10px;
	border-radius: 50%;
	transition: all 0.5s;
}

#tf-services i.fa.fa-mobile{
	font-size: 50px;
	padding: 20px 25px;
}

#tf-services .service:hover>i.fa{
	background: #83C23D;
	color: #ffffff;
}

/* Clients Section */
#tf-clients{
	background: url(../img/04.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: #ffffff;
}

#tf-clients .overlay{
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.73) 17%, rgba(0,0,0,0.66) 35%, rgba(0,0,0,0.55) 62%, rgba(0,0,0,0.4) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.8)), color-stop(17%,rgba(0,0,0,0.73)), color-stop(35%,rgba(0,0,0,0.66)), color-stop(62%,rgba(0,0,0,0.55)), color-stop(100%,rgba(0,0,0,0.4))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#66000000',GradientType=0 ); /* IE6-9 */
	padding: 80px 0;
	background-attachment: fixed;
}

#clients .item{
    padding: 0;
    margin: 35px;
    color: #FFF;
    text-align: center;
}
/* Gallery Section 
==============================*/
#tf-works{
	padding: 80px 0;
}
.categories{ 
	padding: 10px 0;
}
ul.cat li{
	display: inline-block;
}
#tf-works li.pull-right {
	margin-top: 10px;
}
ol.type li{
	display: inline-block;
	margin-left: 20px;
}
ol.type li:after{
	content: ' | ';
	margin-left: 20px;
}
ol.type li:last-child:after { content: ''; }
ol.type li a{ color: #222222}
ol.type li a.active { font-weight: 700; }
.isotope-item { z-index: 2 }
.isotope-hidden.isotope-item { z-index: 1 }
.isotope,
.isotope .isotope-item {
    /* change duration value to whatever you like */
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope-item {
    margin-right: -1px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.isotope {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}
.portfolio-item{
	margin-bottom: 30px;
}
.portfolio-item .hover-bg{
	height: 260px;
	overflow: hidden;
	position: relative;
}

.hover-bg .hover-text {
	position: absolute;
	text-align: center;
	margin: 0 auto;
	color: #ffffff;
	background: rgba(0, 0, 0, 0.66);
	padding: 25% 0;
	height: 100%;
	width: 100%;
	opacity: 0;
    transition: all 0.5s;
}
.hover-bg .hover-text>h4{
	opacity: 0;
	-webkit-transform: translateY(100%);
            transform: translateY(100%);
            transition: all 0.3s;
}
.hover-bg:hover .hover-text>h4{
	opacity: 1;
    -webkit-backface-visibility:hidden;
    -webkit-transform: translateY(0);
            transform: translateY(0);
}
.hover-bg .hover-text>i{
	opacity: 0;
	-webkit-transform: translateY(0);
            transform: translateY(0);
            transition: all 0.3s;
}
.hover-bg:hover .hover-text>i{
	opacity: 1;
    -webkit-backface-visibility:hidden;
   -webkit-transform: translateY(100%);
            transform: translateY(100%);
}
.hover-bg:hover .hover-text{
	opacity: 1;
}
#tf-works i.fa {
	height: 30px;
	width: 30px;
	border: 1px solid #83C23D;
	font-size: 20px;
	padding: 5px;
	border-radius: 50%;
	color: #83C23D;
}
/* Testimonials Section */
#tf-testimonials{
	background: url(../img/05.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: #ffffff;
}

#tf-testimonials .overlay{
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.73) 17%, rgba(0,0,0,0.66) 35%, rgba(0,0,0,0.55) 62%, rgba(0,0,0,0.4) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.8)), color-stop(17%,rgba(0,0,0,0.73)), color-stop(35%,rgba(0,0,0,0.66)), color-stop(62%,rgba(0,0,0,0.55)), color-stop(100%,rgba(0,0,0,0.4))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#66000000',GradientType=0 ); /* IE6-9 */
	padding: 80px 0;
	background-attachment: fixed;
}
#testimonial {
	padding: 30px 0;
}
#testimonial .item{
    display: block;
    width: 100%;
    height: auto;
}

#testimonial .item p {
	font-weight: 400;
	margin: 30px 0;
	color: #d1d1d1;
}
/* Contact Section */
#tf-contact{
	padding: 80px 0;
}

label {
	float: left;
	font-size: 13px;
	font-weight: 400;
	_font-family: 'Open Sans', sans-serif;
}
#tf-contact .form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}

#tf-contact .form-control:focus {
	border-color: inherit;
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
}

button.btn.tf-btn.btn-default {
	float: right;
	background: #83C23D;
	border: 0;
	border-radius: 0;
	padding: 10px 40px;
	color: #ffffff;
	text-transform: uppercase;
}

.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn:focus, 
.btn:active:focus, 
.btn.active:focus, 
.btn.focus, 
.btn:active.focus, 
.btn.active.focus {
	outline: thin dotted;
	outline: none;
	outline-offset: none;
}
/* Footer */
nav#footer{
  background-image: url(https://s3.amazonaws.com/mazkaracdn/assets/home/footer.jpg);/* https://s3.amazonaws.com/mazkaracdn/assets/home-page-3.jpg);*/
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
	color: #ffffff;
	padding: 20px 0 15px 0;
}
nav#footer a{color:#ffffff;}
nav#footer .fnav{ vertical-align: middle;}
ul.footer-social li{
	display: inline-block;
	margin-right: 10px;
}
nav#footer p{
	font-size: 12px;
	margin-top: 10px;
}
#footer i.fa {
  height: 45px;
  width: 45px;
	border: 1px solid #ffffff;
  font-size: 25px;
  padding: 10px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s;
}

#footer i.fa:hover{
	background: #00DCC1;
	border-color: #00DCC1;
	color: #ffffff;
}

.image-grid-cover{

	height:200px;
}

.entry-cover.has-image:after, .listing-cover.has-image:after {
    background: linear-gradient(to bottom, transparent 0px, transparent 0px, rgba(0, 0, 0, 0.65) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    overflow: hidden;
}
.entry-cover.has-image:after, .listing-cover.has-image:after {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
    bottom: 0;
    content: " ";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 5;
}
.image-grid-cover:after {
    border-radius: 4px;
    overflow: hidden;
}
*, *:after, *:before {
    box-sizing: border-box;
}
.entry-cover.has-image, .entry-cover.has-image a, .listing-cover.has-image, .listing-cover.has-image a {
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
}
.listing-cover, .entry-cover, .homepage-cover.page-cover, .list-cover {
    background-color: #e6e9ec;
}
.image-grid-cover {
    padding: 10em 0;
}
.image-grid-cover {
    padding: 3em 0;
    position: relative;
}
.image-grid-cover {
    border-radius: 4px;
    overflow: hidden;
    width: 100%;
}
.entry-cover, .listing-cover {
    background-position: center center;
    background-size: cover;
    padding: 5em 0 3em;
    position: relative;
}

.entry-cover.has-image, .entry-cover.has-image a, .listing-cover.has-image, .listing-cover.has-image a {
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
}
.image-grid-cover .cover-wrapper {
    font-size: 28px;
}
.image-grid-cover .cover-wrapper {
    font-size: 24px;
}
.image-grid-cover .cover-wrapper {
    font-size: 20px;
    left: 5%;
    position: absolute !important;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 90%;
}
.image-grid-cover .cover-wrapper {
    display: block;
    font-size: 18px;
    text-align: center;
}
.entry-cover .cover-wrapper, .listing-cover .cover-wrapper {
    position: relative;
    z-index: 10;
}


.entry-cover.has-image, .entry-cover.has-image a, .listing-cover.has-image, .listing-cover.has-image a {
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
}
.attachment-clickbox, .image-grid-clickbox, .job_listing-clickbox, .product-clickbox {
    bottom: 0;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 20;
}



/**/
a:hover{
	text-decoration: underline;
}

ol.listing > li{
  display: list-item;
}

.listing h3{
	margin-top:10px;
}

.pagination{
	margin:0px;
}


.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
  _background-color: #83C23D;
}

.pagination > li > a, .pagination > li > span{
  _color: #83C23D;	
}
.search-item-rating-num-votes
{
	font-size: 10px;
}

.no-text-shadow .rating-container .rating-stars::before,
.search-item-rating .rating-container .rating-stars::before{
  text-shadow: 0 0 0px rgba(0, 0, 0, 0) !important;
}
.rating-container{
  color: #cccccc !important;
}

.rating-container .rating-stars{
  color:#FFCC00 !important;
}

.mega-logo{
  background: url(https://s3.amazonaws.com/mazkaracdn/assets/logo-med.png);

  background-repeat: no-repeat;
  width: 132px;
  height: 132px;
  display: inline-block;
}

/* hacks */

.btn-danger:hover, .btn-danger:focus, .btn-danger.focus, .btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger{
      background-color: #9E0806;
    border-color: #9E0806;
    color: #fff;
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus{
  b__ackground-color: #d9534f;
  z-index: 9999 !important;

}


.navbar-default .navbar-nav > .open > a.main-menu-btn, 
.navbar-default .navbar-nav > .open > a.main-menu-btn::after, 
.navbar-default .navbar-nav > .open > a.main-menu-btn:focus::after{
  color: #1e1e1e !important;
}

.navbar-default .navbar-nav > .open > a.main-menu-btn::after, 
.navbar-default .navbar-nav > .open > a.main-menu-btn:hover::after
.navbar-default .navbar-nav > .open > a.main-menu-btn:focus::after{
  z-index: 9999 !important;
}

.btn-circle.btn-lg {
  width: 40px;
  height: 40px;
  padding: 8px 13px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 20px;
}

.btn-circle{
  border-radius: 50%;
}

a.checkedin:hover i, 
a.checkedin:visited i,
a.checkedin i, 
a.checkedin:active i{
  color: #5cb85c;
  border-color: #5cb85c;
}

a.favourited:hover i, 
a.favourited:visited i,
a.favourited i, 
a.favourited:active i{
  color: #d9534f;
  border-color: #d43f3a;
}


a.favourited.fav-blue:hover i, 
a.favourited.fav-blue:visited i,
a.favourited.fav-blue i, 
a.favourited.fav-blue:active i{
  color: #81B4DF;
  border-color: #81B4DF;
}



a.favourite .hide-when-unfavorite{
  display:none;
}

a.favourited .hide-when-unfavorite,
a.favourite.favourited .hide-when-unfavorite{
  display:inline-block;
}

a.favourite .hide-when-favorite{
  display:inline-block;
}

a.favourited .hide-when-favorite,
a.favourite.favourited .hide-when-favorite{
  display:none;
}



.favourited .show-when-followed{
  display: block;  
}
.favourite .show-when-followed{
  display: none;  
}

.favourite .hide-when-followed{
  display: block;  
}
.favourited .hide-when-followed{
  display: none;  
}


a.user-follow.favourited:hover, a.user-follow.favourited:visited,
a.user-follow.favourited, a.user-follow.favourited:active{
  /*background-color: #5bc0de;
  border-color: #46b8da;
  color: #fff;*/
}

a.user-follow.btn-block.favourited:hover, a.user-follow.btn-block.favourited:visited,
a.user-follow.btn-block.favourited, a.user-follow.btn-block.favourited:active{
/*  background-color: #87C63D !important;
  border-color: #87C63D;
  color: #fff;*/
}



a.user-follow.favourited i.fa-user-plus{
  color:#000000;
}

.single-activity-element .pagination{
  display:block;
}

.single-activity-element .pagination li{
  display:none;

}
.single-activity-element .pagination li:last-child{
  display:block;
}
.single-activity-element .pagination li:last-child a{
  padding:5px; border:1px solid #ccc;
  display:block;
  text-align: center;
  width:100%;
}
/* business view page */

h1.item-name, h1.item-heading, h2.item-name, h3.item-name{
	text-transform: none; 
}


.txttrans{
  text-transform: none;
}

h4.item-headers{
	font-weight: bolder;
	text-transform: none;
}

.item-phone{
	font-size: 16px;
	font-weight: bolder;
}

.item-map{
	height:300px;
	width:100%;
}
/* Helper CSS */

.btn-mazkara{
  background-color: #83C23D;
  border-color: #83C23D;
  color: #fff; 
}

h1.fw300,
.fw300{
  font-weight: 300 !important;
}

.fw500{
  font-weight: 500  !important;
}

.fw700{
  font-weight: 700  !important;
}

.fw900{
  font-weight: 900;
}

.fs175{
  font-size:175%;
}

.fs125{
  font-size:130%;
}

.fs150{
  font-size:150%;
}

.fs500{
  font-size:500%;
}

.fs300{
  font-size: 300%;
}


.fs220{
  font-size: 220%;
}

.fs90{
  font-size:90%;
}

.fs75{
  font-size:75%;
}

.fs60{
  font-size:60%;
}


.fs200{
  font-size:200%;
}

.w40{
  width:40px;
}

.h40{
  height:40px;
}

.dpb{
  display:block;
}


.dpib{
  display:inline-block;
}


.vam{
  vertical-align: middle;
}

.tac{
  text-align: center;
}

.fn25{
  font-size:25px;
}

.fs90{
  font-size: 90%;
}

.bt{
  border-top:1px solid #f0f0f0;
}
.bb{
  border-bottom:1px solid #f0f0f0;
}
.bl{
  border-left:1px solid #f0f0f0;
}
.br{
  border-right:1px solid #f0f0f0;
}

.b0{
  border: 0px;
}

.bt0{
  border-top: 0px !important;
}

.force-center{
  margin-left:auto; margin-right:auto;
}
.b0 .list-group-item{
  border-right:0px;
  border-left:0px;
}

.list-group-item{
  background-color: transparent;
}

.b0 .list-group-item:last{
  border-bottom:0px;

}

.bt0{
  border-top: 0px;
}

.bb0{
  border-bottom: 0px;
}

.ba{

  border:1px solid #f0f0f0;

}

.wbt{
  border-top:1px solid #BF878C;
}

.bbb{
  border-bottom: 4px solid #f0f0f0;  
}
.bbd{
  border-bottom: 1px solid #dadada;  
}
.bbdb{
  border-bottom: 3px solid #dadada;  
}
.bbdb.show-only-mobile{
  border:0px;
}
.li-pl0 .list-group-item{
padding-left:0px;
}

.relative{
  position: relative;
}

.absolute{
  position: absolute;
}

.bg-liteblue{
  background-color:#f2f6f9;
}


.lnh{
  line-height: 2.5;
}

.mt0{
  margin-top: 0px;
}

.mb0{
  margin-bottom: 0px;
}

.ml10{
  margin-left:10px;
}

.mr10{
  margin-right:10px;
}

.mb10{
  margin-bottom: 10px;
}

.w45{width:45px;}
.h45{height:45px;}

.w52{width:52px;}
.h52{height:52px;}

.w50{width:50px;}
.h50{height:50px;}
.w100{width:100px;}
.w175{width:175px;}
.w95{width:95px;}
.h100{height:100px;}
.h175{height:175px;}

.w150{width:150px;}
.h150{height:150px;}

.w125{width:125px;}
.h125{height:125px;}


.w200{width:200px;}
.h200{height:200px;}

.w144{width:144px;}
.h144{height:144px;}

.notransform{
  text-transform: none;
}

.bolder{
  font-weight: bolder;
}



.vertical-middle{
  vertical-align: middle !important;
}



.no-radius{
  border-radius: 0px; !important
}

.rating-xs{
  font-size:1.4em;
}

.rating-xm{
  font-size:1.6em;
}


.star-rating{
  cursor: pointer;
}

.rating-disabled{
  cursor: default;
}
.star-rating .caption,
.star-rating-rtl .caption{
  width:75px !important;
  text-align: center !important;
}

.star-rating .caption .label, .star-rating-rtl .caption .label{
  background-color: white !important;
  color: #000000 !important;
  font-size: 110% !important;
  font-weight: 500;
}

.star-rating.rating-lg .caption .label, 
.star-rating-rtl .caption .label{
  background-color: white !important;
  color: #000000 !important;
  font-size: 70% !important;
  font-weight: 500;
}

.star-rating .clear-rating, 
.star-rating-rtl .clear-rating{
    color: #aaa;
    cursor: not-allowed;
    display: inline-block;
    float: right;
    font-size: 60%;
    padding: 7px 0 7px 7px;
    vertical-align: middle;
}

.star-rating .clear-rating:hover{
  color:#fff;
} 

.p5{
  padding: 5px;
}

.p15{
  padding: 15px;
}

.pt15{
  padding-top:15px;
}

.pb15{
  padding-bottom:15px;
}


.pt10{
  padding-top:10px;
}

.pb10{
  padding-bottom:10px;
}

.p10{
	padding:10px;
}

.pt20{
	padding-top:20px;
}

.pb20{
  padding-bottom:20px;
}


.p3{
	padding: 3px;
}

.p30{
  padding: 30px;
}


.pt10{
  padding-top: 10px;
}
.pb10{
  padding-bottom: 10px;
}
.pl10{
  padding-left: 10px;
}
.pr10{
  padding-right: 10px;
}

.pr0{
  padding-right: 0px;
}

.pt0{
  padding-top: 0px !important;
}

.pt5{
  padding-top: 5px;
}

.pb5{
  padding-bottom: 5px;
}

.pt6{
  padding-top: 6px;
}

.pb6{
  padding-bottom: 6px;
}

.pb7{
  padding-bottom: 7px;
}

.pl5{
  padding-left: 5px;
}
.pr5{
  padding-right: 5px;
}

.p0{
  padding:0px;
}

.pb0{
  padding-bottom: 0px;
}

.pl15{
  padding-left: 15px;
}
.pr15{
  padding-right: 15px;
}


.pt4{
  padding-top: 4px;
}
.pb4{
  padding-bottom: 4px;
}
.pl4{
  padding-left: 4px;
}
.pr4{
  padding-right: 4px;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand.ml0{
  margin-left: 0px;
}


h1.item-heading, h2.item-name{
  font-size: 24px; font-weight: bold; 
}
h1.item-heading, 
h1.item-name{
  font-weight: bold;
}
ul.padded5 li{
  padding-top:5px;
  padding-bottom:5px;
}

.mt20{
  margin-top: 20px;
}

.mt75{
  margin-top: 75px;
}

.mt60{
  margin-top: 60px;
}

.mt50{
  margin-top: 50px;
}

.mt30{
  margin-top: 30px;
}


.mt120{
  margin-top: 120px;
}

.mt220{
  margin-top: 220px;
}


.mt15{
  margin-top: 15px;
}

.p25{
  padding: 25px !important;
}

.mt25{
  margin-top: 25px !important;
}

.mb25{
  margin-bottom: 25px !important;
}

.mb65{
  margin-bottom: 65px !important;
}

.mt10{
  margin-top: 10px;
}

.mt5{
  margin-top: 5px;
}
.mb5{
  margin-bottom: 5px;
}
.ml5{
  margin-left: 5px;
}
.mr5{
  margin-right: 5px !important;
}

.text-white{
  color:#fff !important;
}

.text-shadow{
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 1) !important;
}

.drop-text-shadow{
  text-shadow:0 2px 4px rgba(0, 0, 0, 1) !important;
}

.mt2{
  margin-top: 2px;
}

.bg-black{
  background-color: #000000 !important;
}
.mb2{
  margin-bottom: 2px;
}

.ml2{
  margin-left: 2px;
}

.mr2{
  margin-right: 2px;
}

.mb15{
  margin-bottom: 15px;
}

.mr10{
	margin-right: 10px;
}

.mr15{
  margin-right: 15px;
}

.mr8{
  margin-right: 8px;
}

.mb12{
  margin-bottom: 12px;
}

.mr0{
  margin-right: 0px;
}

.pl0{
  padding-left:0px !important;
}

.pointer-cursor{
  cursor: pointer;
}

#top-main-logo-container .dropdown-menu{
  z-index: 1004 !important;
}

.op50{
  opacity: 0.5;
}
.op80{
  opacity: 0.8;
}

.search-item-name a{
  color:rgb(98,58,62);
}

a.burgundy-item{
  color:rgb(98,58,62);
}

.burgundy{
  color:rgb(98,58,62) !important;
}

.hover-gray:hover, tr.hover-gray:hover td{
  background-color: #EFEFEF !important;
}

a.green-item{
  color:#00DDC1; /*#5cb85c; /*#6EBA4C;*/
}

.no-border-radius{
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

.border-radius-3{
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  border-radius: 3px !important;
}

.border-radius-2{
  -webkit-border-radius: 2px !important;
  -moz-border-radius: 2px !important;
  border-radius: 2px !important;
}

.border-radius-1{
  -webkit-border-radius: 1px !important;
  -moz-border-radius: 1px !important;
  border-radius: 1px !important;
}


.border-radius-5{
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  border-radius: 5px !important;
}

.border-radius-6{
  -webkit-border-radius: 6px !important;
  -moz-border-radius: 6px !important;
  border-radius: 6px !important;
}

.border-radius-10{
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  border-radius: 10px !important;
}

.border-top-radius-5{
  border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  border:1px solid #ccc;
}

.border-bottom-radius-5{
  border-radius:  0px 0px 5px 5px;
  -moz-border-radius: 0px 0px 5px 5px;
  -webkit-border-radius: 0px 0px 5px 5px;
}

.border-bottom-radius-6{
  border-radius:  0px 0px 6px 6px;
  -moz-border-radius: 0px 0px 6px 6px;
  -webkit-border-radius: 0px 0px 6px 6px;
}

.border-radius-15{
  -webkit-border-radius: 15px !important;
  -moz-border-radius: 15px !important;
  border-radius: 15px !important;
}

.border-radius-25{
  -webkit-border-radius: 25px !important;
  -moz-border-radius: 25px !important;
  border-radius: 25px !important;
}

.small-text{
	font-size:12px;
}

.bg-white, span.btn.btn-default:hover{background-color: white;} 


.ui-menu .ui-menu-item{ border-bottom:1px solid #efefef; padding:6px 9px;font-weight:500; font-size:100%;}

.ui-menu .ui-menu-item:last{ border-bottom:0px;}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{
  font-weight: normal;
}

.ui-widget-content{
  background-image: none;
  background-color: #FFF;
}

.ui-autocomplete-loading { 
  /* background:url('/assets/indicator.gif') no-repeat right center;*/
  background-color: #ffffff; 
 }
.highlight-ui{
  color: #FFC800; 
}

#top-navbar-search-form{
  width:50%; padding-right:0px;
}

#top-navbar-search-form .form-control{
  font-size: 11px;
}

#top-navbar-search-form #search-selector{
  width:70%; float:left;
}

#top-navbar-search-form #location-selector{
  width:30%; float:left;
}

#top-navbar-search-form #search-bar-button{
  
}
  
.navbar-secondary > li.parent{
  display:table-cell;
  float:none; 
  text-align:center;
}

.navbar-secondary > li.nav-bullet.parent{
  width:4.5%;
  vertical-align: top;
}


.nav > li.nav-bullet > a{
  font-size:5px !important;
  padding-top:12px;
  padding-bottom: 0px;

}
.navbar-center
{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
  height:100%;
}

/* rating */

.br-widget {
}

.btn .br-widget{
}

.br-widget a {
    display: block;
    width: 25px;
    height: 20px;
    float: left;
    background-color: #e3e3e3;
    margin-left: 1px;
    margin-right: 1px;
    text-align: center;
    border-radius: 3px;
}

.rating-a .br-widget a {
    display: block;
    width: 35px;
    height: 30px;
    float: left;
    background-color: #e3e3e3;
    margin-left: 1px;
    margin-right: 1px;
    text-align: center;
    border-radius: 3px;
}


.br-widget a.br-active,
.br-widget a.br-selected {
  background-color: #59a6d6;
}

.br-widget a.br-active:nth-child(1),
.br-widget a.br-selected:nth-child(1){
  background-color: #FF1616;
}

.br-widget a.br-active:nth-child(2),
.br-widget a.br-selected:nth-child(2){
  background-color: #FFA100;
}

.br-widget a.br-active:nth-child(3),
.br-widget a.br-selected:nth-child(3){
  background-color: #FFDD00;
}

.br-widget a.br-active:nth-child(4),
.br-widget a.br-selected:nth-child(4){
  background-color: #F9F44D;
}
.br-widget a.br-active:nth-child(5),
.br-widget a.br-selected:nth-child(5){
  background-color: #D6FF66;
}
.br-widget a.br-active:nth-child(6),
.br-widget a.br-selected:nth-child(6){
  background-color: #A2F73B;
}

.br-widget a.br-active:nth-child(7),
.br-widget a.br-selected:nth-child(7){
  background-color: #ABED04;
}

.br-widget a.br-active:nth-child(8),
.br-widget a.br-selected:nth-child(8){
  background-color: #55C924;
}

.br-widget a.br-active:nth-child(9),
.br-widget a.br-selected:nth-child(9){
  background-color:#3FA500;
}

.br-widget a.br-active:nth-child(10),
.br-widget a.br-selected:nth-child(10){
}


.br-widget .br-current-rating {
  float: left;
  padding: 0 0 0 20px;
  color: #646464;
  font-weight: 900;
  min-width: 40px;
}

.rating-a .br-widget .br-current-rating {
  font-size:125%;
}

.dark-gray{
  color:#444444;
}


.medium-gray{
  color:#999999;
}


.gray, small.gray{
  color:#CCC;
}

.gray a{
  color:#9a9a9a;
}

.dark-gray a:link,
.dark-gray a:hover,
.dark-gray a:active,
.dark-gray a:visited
{
  color: #1C1C1C;/*#5a5a5a;*/
  text-decoration: none;
}
.dark-gray a:hover{
  color:#999999;
  text-decoration: none;
}







.modal-dialog{
  width:960px;
}

.dumatar{
  font-size:18px;
  font-weight: 300;
  color: #FFF;
  vertical-align: middle;

  text-align: center;
  display: inline-block;
}

.breadcrumb > li + li::before{
  content: " ";
}

/*Grid cards for deals*/
.grid-thumbnail
{
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.lite-grey{
  color:#CCC;
}

.white{
  color:#fff;
}

.green{
  color: #08DB91 !important;/*#3c763d/*#87C63D;/* #0D9B0D;*/
}

.fuscia{
  color: #00D5B7 !important;
}

.item .lead{
  font-size:16px;
  color:#000;  
  font-weight: 500;
}

.item .minor-lead{
  font-size:14px;
}

.slashed, .item .slashed{
  text-decoration: line-through;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    margin-bottom: 10px;
}

.list-group-item-heading{
  text-transform: none;
  font-size:14px; font-weight: 500;
}

.float-none{
  float:none !important;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
    font-weight: 300;
}

.form-control.selectize-control{
  height: inherit;
}





.shape{    
    border-style: solid; border-width: 0 60px 60px 0; float:right; height: 0px; width: 0px;
    -webkit-transform: rotate(360deg);  
    -moz-transform: rotate(360deg);  
    -o-transform: rotate(360deg);  
    transform: rotate(360deg); 
}
.shape-text{
    color:#fff; font-size:10px; position:relative; right:-20px; top:-3px; text-transform: uppercase;; white-space: nowrap;
  -ms-transform:rotate(30deg); /* IE 9 */
  -o-transform: rotate(360deg);  /* Opera 10.5 */
  -webkit-transform:rotate(46deg); /* Safari and Chrome */
  transform:rotate(46deg);
}
.offer{
  background:#fff; border:1px solid #ddd; 
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
  margin: 15px 0; overflow:hidden;
  min-height: 170px; max-height: 170px;
}
.shape {
  border-color: rgba(255,255,255,0) #d9534f rgba(255,255,255,0) rgba(255,255,255,0);
}
.offer-radius{
  border-radius:7px;
}



.offer .top-half{
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  background-color:#F2F6F9;
}
.offer .bottom-half{
  border-top-right-radius:0px;
  border-top-left-radius:0px;
  background-color:#FFFFFF;
}

.offer-danger { border-color: #d9534f; }
.offer-danger .shape{
  border-color: transparent #d9534f transparent transparent;
}
.offer-success {  __border-color: #5cb85c; }
.offer-success .shape{
  border-color: transparent #5cb85c transparent transparent;
}
.offer-default {  border-color: #999999; }
.offer-default .shape{
  border-color: transparent #999999 transparent transparent;
}
.offer-primary {  __border-color: #428bca; }
.offer-primary .shape{
  border-color: transparent #428bca transparent transparent;
}
.offer-info { __border-color: #5bc0de; }
.offer-info .shape{
  border-color: transparent #5bc0de transparent transparent;
}
.offer-warning {  __border-color: #f0ad4e; }
.offer-warning .shape{
  border-color: transparent #f0ad4e transparent transparent;
}

.offer-content{
  padding:0 20px 10px;
}
@media (min-width: 487px) {
  .container {
    max-width: 750px;
  }
  .col-sm-6 {
    width: 50%;
  }
}
@media (min-width: 900px) {
  .container {
    max-width: 970px;
  }
  .col-md-4 {
    width: 33.33333333333333%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
  .col-lg-3 {
    width: 25%;
  }
  }
}

/**/





/* native ads */

.native-ad-v02
{
  width:100%;
  height:142px;
  position:relative;
  display:block;
}

.native-ad-v02 .ad-title{
  width:100%;
  display:block;
  padding:5px;  
  background-color: rgba(51, 51, 51, 0.8);

  color: #FFF;
  font-size: 13px;
}

.native-ad-v02 .ad-content-holder{
    bottom: 0;
    color: #fff;
    display: block;
    font-size: 11px;
    font-weight: bold;
    position: absolute;
    vertical-align: middle;
    width: 100%;
}

.ad-caption{
  width:100%;background-color: #F4F4F4;
  display:block;
  padding:5px;

  height: 25px;
  color: #000;font-size: 11px;
}


.native-ad-v02-mobile{
  
  width:100%;
  height:242px;
  position:relative;
}


.native-ad-v02-mobile .ad-title{
  width:100%;
  display:block;
  padding:5px;  
  background-color: rgba(51, 51, 51, 0.8);
  font-weight: bold;
  color: #FFF;
  font-size: 13px;
}

.native-ad-v02-mobile .ad-content-holder{
    bottom: 0;
    color: #fff;
    display: block;
    font-size: 11px;
    position: absolute;
    vertical-align: middle;
    width: 100%;
}

.ad-caption{
  width:100%;background-color: #F4F4F4;
  display:block;
  padding:5px;

  height: 25px;
  color: #000;font-size: 11px;
}




.native-ad-v02 .post-corner{
  padding-right: 5px;
  position: absolute;
  text-align: right;
  top: 0;
  width: 100%;
  z-index: 2;
}
.native-ad-v02-mobile .post-corner{
  padding-right: 10px;
  position: absolute;
  text-align: right;
  top: 10px;
  right:10px;
  vertical-align: bottom;
  width: 100%;
  z-index: 2;
}


.native-ad,
.collection
{
    background-color: #FFF;
    overflow: hidden;
}

.collection:hover
{
    background-color: #FFF;
    overflow: hidden;
}
.collection:hover
{
    position:relative;       
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.collection:hover:before, .collection:hover:after
{
  content:"";
    position:absolute; 
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
} 

.collection:hover:after
{
  right:10px; 
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg); 
       -moz-transform:skew(8deg) rotate(3deg);     
        -ms-transform:skew(8deg) rotate(3deg);     
         -o-transform:skew(8deg) rotate(3deg); 
            transform:skew(8deg) rotate(3deg);
}

.native-ad _img,
.collection _img
{
    filter: blur(2px);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
}

.collection .content,
.native-ad .content
{
  border: 1px solid #CCC;
  border-top: 0px;
  margin-bottom:10px;
  padding: 0px;
}

.collection .author,
.native-ad .author
{
  font-size: 11px;
  color: #737373;
  padding: 5px;
}

.collection .header,
.native-ad .header
{
  font-size: 12px;
  color: #1C1C1C; /*#5a5a5a;*/
  padding: 2px  8px 5px 8px;
}

.h300{
  height:300px;
}

.sq-card{
  background-position: center center;
  background-size: cover;
  position: relative;    
}
.collection .white-gradient-ltr,
.native-ad .white-gradient-ltr{
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 45%, rgba(246,246,246,0.15) 85%, rgba(255,255,255,0) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(45%, rgba(255,255,255,1)), color-stop(85%, rgba(246,246,246,0.15)), color-stop(100%, rgba(255,255,255,0)));
  background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 45%, rgba(246,246,246,0.15) 85%, rgba(255,255,255,0) 100%);
  background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 45%, rgba(246,246,246,0.15) 85%, rgba(255,255,255,0) 100%);
  background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 45%, rgba(246,246,246,0.15) 85%, rgba(255,255,255,0) 100%);
  background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 45%, rgba(246,246,246,0.15) 85%, rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
}

.collection .post-img-content,
.native-ad .post-img-content
{
  height: 142px;
  position: relative;
  overflow: hidden;
  border: 1px solid #ccc;
}

.collection .post-img-content img,
.native-ad .post-img-content img
{
  position: absolute;
}

.collection .post-title,
.native-ad .post-title
{
  bottom: 0;
  display: block;
  position: absolute;
  vertical-align: bottom;
  width: 100%;
  z-index: 2;
}

.native-ad .color-white{
  color:#FFFFFF;
  text-shadow: 0px 0px 9px rgba(0, 0, 0, 1);
}

.native-ad .color-black{
  color: #000000 !important;
  text-shadow: 0px 0px 9px rgba(255, 255, 255, 1);
}

.post-corner,
.native-ad .post-corner{
  padding-right: 5px;
  position: absolute;
  text-align: right;
  top: 0;
  vertical-align: bottom;
  width: 100%;
  z-index: 2;
}

.collection .post-title span{
  background-color: rgba(51, 51, 51, 0.58);
  display: block;
  color: #FFF;
  padding: 3px 5px;
  margin-top: 5px;
}

.native-ad .post-title span{
  background-color: rgba(51, 51, 51, 0.58);
  display: block;
  color: #FFF;
  padding: 3px 5px;
  font-size: 11px;
}

a:hover .collection,
a:hover .native-ad{
  text-decoration: none;
}

.html-fix ul, 
.html-fix ol{
  margin-left:15px;
}

.mtm15{
  margin-top:-15px;
}


.pagination > .active > a, 
.pagination > .active > span, 
.pagination > .active > a:hover, 
.pagination > .active > span:hover, 
.pagination > .active > a:focus, 
.pagination > .active > span:focus{
  background-color: rgb(98, 58, 62);
  border-color: rgb(98, 58, 62);
}

.pagination > li > a, 
.pagination > li > a:hover, 
.pagination > li > span{
  color: rgb(98, 58, 62);
}

.pagination > li > a, .pagination > li > span{
  border:0px;
}

.breadcrumbs, .breadcrumb{
  background-color: transparent;
  padding: 0px;   
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
}

.no-text-shadow,
.no-text-shadow .breadcrumbs, 
.no-text-shadow .breadcrumb{
  text-shadow: none;
}

.overlap-transparent{
  background-color: rgba(0, 0, 0, 0.65);

/*background: rgba(0,0,0,0.24);
background: -moz-linear-gradient(top, rgba(0,0,0,0.24) 0%, rgba(98,58,0,0,0,0.69) 88%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.24)), color-stop(88%, rgba(0,0,0,0.69)));
background: -webkit-linear-gradient(top, rgba(0,0,0,0.24) 0%, rgba(0,0,0,0.69) 88%);
background: -o-linear-gradient(top, rgba(0,0,0,0.24) 0%, rgba(0,0,0,0.69) 88%);
background: -ms-linear-gradient(top, rgba(0,0,0,0.24) 0%, rgba(0,0,0,0.69) 88%);
background: linear-gradient(to bottom, rgba(0,0,0,0.24) 0%, rgba(0,0,0,0.69) 88%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );

/*background: rgba(98,58,62,0.24);
background: -moz-linear-gradient(top, rgba(98,58,62,0.24) 0%, rgba(98,58,62,0.69) 88%, rgba(98,58,62,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(98,58,62,0.24)), color-stop(88%, rgba(98,58,62,0.69)), color-stop(100%, rgba(98,58,62,1)));
background: -webkit-linear-gradient(top, rgba(98,58,62,0.24) 0%, rgba(98,58,62,0.69) 88%, rgba(98,58,62,1) 100%);
background: -o-linear-gradient(top, rgba(98,58,62,0.24) 0%, rgba(98,58,62,0.69) 88%, rgba(98,58,62,1) 100%);
background: -ms-linear-gradient(top, rgba(98,58,62,0.24) 0%, rgba(98,58,62,0.69) 88%, rgba(98,58,62,1) 100%);
background: linear-gradient(to bottom, rgba(98,58,62,0.24) 0%, rgba(98,58,62,0.69) 88%, rgba(98,58,62,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#623a3e', endColorstr='#623a3e', GradientType=0 );
*/
}

.bg-burgundy{
  background-color: rgb(98,58,62);
}

.btns-ghosted .btn-default{
  color: #ffffff !important;
  border-color: rgba(255, 255, 255, 0.3) !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
}

.btns-ghosted .btn-default:hover{
  background-color: rgba(255, 255, 255, 0.4) !important;
}

.force-white,
.force-white .breadcrumb > .active,
.force-white a,
.force-white a:active,
.force-white a:link,
.force-white a:hover,
.force-white a:visited{
  color:#ffffff !important;
}

.force-white a:hover{
  text-decoration: underline;
}


.fa.selected, .flaticon.selected{
  color: #659900;
}


/*Buttons*/

.btn-lite-blue { 
  color: #ffffff; 
  background-color: #81B4DF; 
  border-color: #81B4DF; 
} 
 
.btn-lite-blue:hover, 
.btn-lite-blue:focus, 
.btn-lite-blue:active, 
.btn-lite-blue.active, 
.open .dropdown-toggle.btn-lite-blue { 
  color: #ffffff; 
  background-color: #5C9FD6; 
  border-color: #81B4DF; 
} 
 
.btn-lite-blue:active, 
.btn-lite-blue.active, 
.open .dropdown-toggle.btn-lite-blue { 
  background-image: none; 
} 
 
.btn-lite-blue.disabled, 
.btn-lite-blue[disabled], 
fieldset[disabled] .btn-lite-blue, 
.btn-lite-blue.disabled:hover, 
.btn-lite-blue[disabled]:hover, 
fieldset[disabled] .btn-lite-blue:hover, 
.btn-lite-blue.disabled:focus, 
.btn-lite-blue[disabled]:focus, 
fieldset[disabled] .btn-lite-blue:focus, 
.btn-lite-blue.disabled:active, 
.btn-lite-blue[disabled]:active, 
fieldset[disabled] .btn-lite-blue:active, 
.btn-lite-blue.disabled.active, 
.btn-lite-blue[disabled].active, 
fieldset[disabled] .btn-lite-blue.active { 
  background-color: #81B4DF; 
  border-color: #81B4DF; 
} 
 
.btn-lite-blue .badge { 
  color: #81B4DF; 
  background-color: #ffffff; 
}


.btn-yellow { 
  color: rgb(98,58,62); 
  background-color: #FFC800; 
  border-color: #FFD900; 
} 
 
.btn-yellow:hover, 
.btn-yellow:focus, 
.btn-yellow:active, 
.btn-yellow.active, 
.navbar-default .navbar-nav > li > a.btn-yellow:hover,
.open .dropdown-toggle.btn-yellow { 
  color: #000; 
  background-color: #FFD900; 
  border-color: #FFD900; 
}
 
.btn-yellow:active, 
.btn-yellow.active, 
.open .dropdown-toggle.btn-yellow { 
  background-image: none; 
} 
 
.btn-yellow.disabled, 
.btn-yellow[disabled], 
fieldset[disabled] .btn-yellow, 
.btn-yellow.disabled:hover, 
.btn-yellow[disabled]:hover, 
fieldset[disabled] .btn-yellow:hover, 
.btn-yellow.disabled:focus, 
.btn-yellow[disabled]:focus, 
fieldset[disabled] .btn-yellow:focus, 
.btn-yellow.disabled:active, 
.btn-yellow[disabled]:active, 
fieldset[disabled] .btn-yellow:active, 
.btn-yellow.disabled.active, 
.btn-yellow[disabled].active, 
fieldset[disabled] .btn-yellow.active { 
  background-color: #FFC900; 
  border-color: #FFD900; 
} 
 
.btn-yellow .badge { 
  color: #FFC800; 
  background-color: #FFFFFF; 
}

.border-pink{
  border:1px solid #FC807E; 
} 


.btn-pink { 
  color: #ffffff; 
  background-color: #FF9391; 
  border-color: #FC807E; 
} 
 
.btn-pink:hover, 
.btn-pink:focus, 
.btn-pink:active, 
.btn-pink.active, 
.navbar-default .navbar-nav > li > a.btn-pink:hover,
.open .dropdown-toggle.btn-pink { 
  color: #ffffff; 
  background-color: #FFA3A1; 
  border-color: #FC807E; 
} 
 
.btn-pink:active, 
.btn-pink.active, 
.open .dropdown-toggle.btn-pink { 
  background-image: none; 
} 
 
.btn-pink.disabled, 
.btn-pink[disabled], 
fieldset[disabled] .btn-pink, 
.btn-pink.disabled:hover, 
.btn-pink[disabled]:hover, 
fieldset[disabled] .btn-pink:hover, 
.btn-pink.disabled:focus, 
.btn-pink[disabled]:focus, 
fieldset[disabled] .btn-pink:focus, 
.btn-pink.disabled:active, 
.btn-pink[disabled]:active, 
fieldset[disabled] .btn-pink:active, 
.btn-pink.disabled.active, 
.btn-pink[disabled].active, 
fieldset[disabled] .btn-pink.active { 
  background-color: #FF9391; 
  border-color: #FC807E; 
} 
 
.btn-pink .badge { 
  color: #FF9391; 
  background-color: #ffffff; 
}






.btn-lite-gray { 
  color: #ffffff; 
  background-color: #CCD0D9; 
  border-color: #CCD0D9; 
} 
 
.btn-lite-gray:hover, 
.btn-lite-gray:focus, 
.btn-lite-gray:active, 
.btn-lite-gray.active, 
.open .dropdown-toggle.btn-lite-gray { 
  color: #ffffff; 
  background-color: #CCD0D9; 
  border-color: #CCD0D9; 
} 
 
.btn-lite-gray:active, 
.btn-lite-gray.active, 
.open .dropdown-toggle.btn-lite-gray { 
  background-image: none; 
} 
 
.btn-lite-gray.disabled, 
.btn-lite-gray[disabled], 
fieldset[disabled] .btn-lite-gray, 
.btn-lite-gray.disabled:hover, 
.btn-lite-gray[disabled]:hover, 
fieldset[disabled] .btn-lite-gray:hover, 
.btn-lite-gray.disabled:focus, 
.btn-lite-gray[disabled]:focus, 
fieldset[disabled] .btn-lite-gray:focus, 
.btn-lite-gray.disabled:active, 
.btn-lite-gray[disabled]:active, 
fieldset[disabled] .btn-lite-gray:active, 
.btn-lite-gray.disabled.active, 
.btn-lite-gray[disabled].active, 
fieldset[disabled] .btn-lite-gray.active { 
  background-color: #CCD0D9; 
  border-color: #CCD0D9; 
} 
 
.btn-lite-gray .badge { 
  color: #CCD0D9; 
  background-color: #ffffff; 
}




.btn-white-inverse { 
  color: #525252; 
  background-color: #FFFFFF; 
  border-color: #F0F0F0; 
} 
 
.btn-white-inverse:hover, 
.btn-white-inverse:focus, 
.btn-white-inverse:active, 
.btn-white-inverse.active, 
.open .dropdown-toggle.btn-white-inverse { 
  color: #525252; 
  background-color: #D1D1D1; 
  border-color: #F0F0F0; 
} 
 
.btn-white-inverse:active, 
.btn-white-inverse.active, 
.open .dropdown-toggle.btn-white-inverse { 
  background-image: none; 
} 
 
.btn-white-inverse.disabled, 
.btn-white-inverse[disabled], 
fieldset[disabled] .btn-white-inverse, 
.btn-white-inverse.disabled:hover, 
.btn-white-inverse[disabled]:hover, 
fieldset[disabled] .btn-white-inverse:hover, 
.btn-white-inverse.disabled:focus, 
.btn-white-inverse[disabled]:focus, 
fieldset[disabled] .btn-white-inverse:focus, 
.btn-white-inverse.disabled:active, 
.btn-white-inverse[disabled]:active, 
fieldset[disabled] .btn-white-inverse:active, 
.btn-white-inverse.disabled.active, 
.btn-white-inverse[disabled].active, 
fieldset[disabled] .btn-white-inverse.active { 
  background-color: #FFFFFF; 
  border-color: #F0F0F0; 
} 
 
.btn-white-inverse .badge { 
  color: #FFFFFF; 
  background-color: #525252; 
}



.btn-burgundy { 
  color: #FFFFFF; 
  background-color: #623A3E; 
  border-color: #623A3E; 
} 

.btn-circle.btn-default:hover, 
.btn-circle.btn-default:focus, 
.btn-circle.btn-default:active, 
.btn-circle.btn-default.active, 
.open .dropdown-toggle.btn-burgundy { 
  border-color: #8A4950; 
  background-color: #ffffff;
} 

#bs-example-navbar-collapse-1 .btn-burgundy:hover, 
#bs-example-navbar-collapse-1 .btn-burgundy:focus, 
#bs-example-navbar-collapse-1 .btn-burgundy:active, 
#bs-example-navbar-collapse-1 .btn-burgundy.active, 
#bs-example-navbar-collapse-1 .open .dropdown-toggle.btn-burgundy, 
.btn-burgundy:hover, 
.btn-burgundy:focus, 
.btn-burgundy:active, 
.btn-burgundy.active, 
.open .dropdown-toggle.btn-burgundy { 
  color: #FFFFFF; 
  background-color: #8A4950; 
  border-color: #623A3E; 
} 
 
.btn-burgundy:active, 
.btn-burgundy.active, 
.open .dropdown-toggle.btn-burgundy { 
  background-image: none; 
} 
 
.btn-burgundy.disabled, 
.btn-burgundy[disabled], 
fieldset[disabled] .btn-burgundy, 
.btn-burgundy.disabled:hover, 
.btn-burgundy[disabled]:hover, 
fieldset[disabled] .btn-burgundy:hover, 
.btn-burgundy.disabled:focus, 
.btn-burgundy[disabled]:focus, 
fieldset[disabled] .btn-burgundy:focus, 
.btn-burgundy.disabled:active, 
.btn-burgundy[disabled]:active, 
fieldset[disabled] .btn-burgundy:active, 
.btn-burgundy.disabled.active, 
.btn-burgundy[disabled].active, 
fieldset[disabled] .btn-burgundy.active { 
  background-color: #623A3E; 
  border-color: #623A3E; 
} 
 
.btn-burgundy .badge { 
  color: #623A3E; 
  background-color: #FFFFFF; 
}




.turquoise { 
  color: #2ED3C2; 
} 

.btn-turquoise { 
  color: #ffffff; 
  background-color: #00DCC1; 
  border-color: #00DCC1; 
} 
 
.btn-turquoise:hover, 
.btn-turquoise:focus, 
.btn-turquoise:active, 
.btn-turquoise.active, 
.open .dropdown-toggle.btn-turquoise { 
  color: #ffffff; 
  background-color: #00DCC1; 
  border-color: #00DCC1; 
} 
 
.btn-turquoise:active, 
.btn-turquoise.active, 
.open .dropdown-toggle.btn-turquoise { 
  background-image: none; 
} 
 
.btn-turquoise.disabled, 
.btn-turquoise[disabled], 
fieldset[disabled] .btn-turquoise, 
.btn-turquoise.disabled:hover, 
.btn-turquoise[disabled]:hover, 
fieldset[disabled] .btn-turquoise:hover, 
.btn-turquoise.disabled:focus, 
.btn-turquoise[disabled]:focus, 
fieldset[disabled] .btn-turquoise:focus, 
.btn-turquoise.disabled:active, 
.btn-turquoise[disabled]:active, 
fieldset[disabled] .btn-turquoise:active, 
.btn-turquoise.disabled.active, 
.btn-turquoise[disabled].active, 
fieldset[disabled] .btn-turquoise.active { 
  background-color: #00DCC1; 
  border-color: #00DCC1; 
} 
 
.btn-turquoise .badge { 
  color: #00DCC1; 
  background-color: #ffffff; 
}




.btn-just-gray { 
  color: #373538 !important; 
  background-color: #E6E4E1; 
  border-color: #E6E4E1; 
} 
 
.btn-just-gray:hover, 
.btn-just-gray:focus, 
.btn-just-gray:active, 
.btn-just-gray.active, 
.open .dropdown-toggle.btn-just-gray { 
  color: #373538 !important; 
  background-color: #CFCDCB !important; 
  border-color: #E6E4E1 !important; 
} 
 
.btn-just-gray:active, 
.btn-just-gray.active, 
.open .dropdown-toggle.btn-just-gray { 
  background-image: none; 
} 
 
.btn-just-gray.disabled, 
.btn-just-gray[disabled], 
fieldset[disabled] .btn-just-gray, 
.btn-just-gray.disabled:hover, 
.btn-just-gray[disabled]:hover, 
fieldset[disabled] .btn-just-gray:hover, 
.btn-just-gray.disabled:focus, 
.btn-just-gray[disabled]:focus, 
fieldset[disabled] .btn-just-gray:focus, 
.btn-just-gray.disabled:active, 
.btn-just-gray[disabled]:active, 
fieldset[disabled] .btn-just-gray:active, 
.btn-just-gray.disabled.active, 
.btn-just-gray[disabled].active, 
fieldset[disabled] .btn-just-gray.active { 
  background-color: #E6E4E1; 
  border-color: #E6E4E1; 
} 
 
.btn-just-gray .badge { 
  color: #E6E4E1; 
  background-color: #373538; 
}

.label-success,
.btn-success{
  background-color: #00BA46 /*#1CA41B*/ !important;
  border-color: #00BA46 /*#1CA41B*/ !important;
}

.btn-circle-sm {
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 4px 0;
  font-size: 10px;
  line-height: 1.1;
  border-radius: 12px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.color-black{
  color:#000000;
}

.spinner-container.container1 > div,
.spinner-container.container2 > div, 
.spinner-container.container3 > div ,
.spinner6 .rect1,
.spinner6 .rect2,
.spinner6 .rect3,
.spinner6 .rect4,
.spinner6 .rect5{
  background-color: #5cb85c;
}

.single-listing-address{
  height: 23px;
  white-space: nowrap;
  overflow:hidden !important;

  text-overflow: ellipsis;
  color: #999999;
}

.search-item-name.ovf-hidden{
  height: 20px;
  white-space: nowrap;
  overflow:hidden !important;

  text-overflow: ellipsis;
}

img.bw {
  filter: grayscale(0);
}

.show-only-mobile, .show-ib-only-mobile{
  display:none;
}

/*SHADOW*/
.box-shadow{
 -webkit-box-shadow: 0 7px 6px -6px #777;
 -moz-box-shadow: 0 7px 6px -6px #777;
  box-shadow: 0 7px 6px -6px #777;
}

.box-lite-shadow{
  -webkit-box-shadow: 0 5px 5px -5px #AAA;
  -moz-box-shadow: 0 5px 5px -5px #AAA;
  box-shadow: 0 5px 5px -5px #AAA;
}

.box-x-lite-shadow{
  -webkit-box-shadow: 0 3px 3px -3px #AAA;
  -moz-box-shadow: 0 3px 3px -3px #AAA;
  box-shadow: 0 3px 3px -3px #AAA;
}

.simple-shadow{
  -webkit-box-shadow: 0px 3px 3px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 3px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 3px -1px rgba(0,0,0,0.75);
}

.pink{
  color:#FF9191 !important;
}
.label-pink,
.bg-pink{
  background-color:#FF9191;
}

.bg-lite-blue{
  background-color: #81B4DF; 
}

.bg-lite-gray{
  background-color: #F1F1F1; /*#f5f5f5; */
}

.bg-dark-gray{
  background-color: #6a6a6a !important; 
  color: #fff !important;
}

.bg-medium-gray{
  background-color: #CCCCCC !important; 
  color: #fff !important;
}

.bg-uber-dark-gray{

  background-color: #1E1E1E !important; 
  color: #fff !important;
}

.lite-blue{
  color: #81B4DF; 
}

.orange{
  color: #FC700C; 
}

.flip-shadow{
  position: relative;
}

.flip-shadow:before, .flip-shadow:after{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.flip-shadow:after{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

.img-rounded{
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #CCC;
}

a.main-menu-btn:hover,
a.main-menu-btn:active,
.navbar-default .navbar-nav > .open > a.main-menu-btn:hover{
  background: #ffc800  !important; /*#5cb85c !important;*/
  color: #000  !important;

}


.arrow_box {
  position: relative;
  background: #ffc800  ; /*#5cb85c;*/
}

.navbar-default .navbar-nav > .open > a.main-menu-btn:after, 
.navbar-default .navbar-nav > .open > a.main-menu-btn:focus:after{
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-top-color: #e7e7e7;
  border-width: 7px;
  margin-left: -7px;
}

.navbar-default .navbar-nav > .open > a.main-menu-btn:hover:after, 
a.main-menu-btn:hover:after,
.arrow_box:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-top-color: #ffc800; /* #ffc800  ; /*#5cb85c;*/
  border-width: 7px;
  margin-left: -7px;
}

a.blue-btn-arrow{
  position: relative;
  background: #81B4DF;
}

a.blue-btn-arrow:focus:after,
a.blue-btn-arrow:active:after,
a.blue-btn-arrow:hover:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-top-color:  #5C9FD6; /*#5cb85c;*/
  border-width: 4px;
  margin-left: -4px;
}


/* Sweep To Bottom */
.hvr-sweep-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #5cb85c;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-sweep-to-bottom:hover, .hvr-sweep-to-bottom:focus, .hvr-sweep-to-bottom:active {
  color: white  !important;
}

.hvr-sweep-to-bottom:hover:before, .hvr-sweep-to-bottom:focus:before, .hvr-sweep-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

#search-box-holder{
  float:none;vertical-align: middle;
  display:inline-block;width:50%;
}

#search-box-home-holder{
  float:none;vertical-align: middle;
  display:inline-block;width:70%;
}


#search-location-holder{
  display:inline-block;
  width:39%;  float:none;vertical-align: middle;
}

.banner-head #search-location-holder{
  width:29% ;
}


.home-category{
  margin-right:20px
}

.home-categories > .home-category:last-child{
  margin-right: 0px !important;
}

.home-category i{
  font-size: 225%;
}

.home-category .label{
  font-size: 100%;
}

.banner-content-form{
  background-color:rgba(0, 0, 0, 0.6);padding:11px;top: 261px;position:absolute;width:100%;
}

#search-box-holder input,
#search-location-holder input{
  width: 100% !important;
}

.modal-sm{
  width:40%;
}

#user-tab-list li a{
  padding:12px 12px 12px 0px;
  border: 0px;
  border-radius:0px;
}

#user-tab-list li{
  padding-left: 0px;
  border: 0px;
  border-top: 1px solid #f0f0f0;
}

#user-tab-list.nav-tabs > li:last{
  border-bottom: 1px solid #f0f0f0;
  border-top: 0px;
}

#user-tab-list.nav-tabs > li > a:hover,
#user-tab-list.nav-tabs > li > a:focus,
#user-tab-list.nav-tabs > li > a:active{
  font-weight: bold;
  background-color: #fff;
}

#user-tab-list li:hover{
  font-weight: bold;
  background-color: #fff;
}

#user-tab-list.nav-tabs > li:last:hover{
  border-bottom: 1px solid #f0f0f0;
  border-top: 0px;
}


/*HACK FOR NOW*/

.sharable{
  __display: none;
}

.fa-sm{
  font-size:0.75em;
}


#fullscreen-overlay{
  position:absolute;
  top:0px;
  left:0px;
  bottom:0px;
  right:0px;
  z-index: 997;
  display: none;
  background-color:rgba(0,0,0,0.4);
  /* -webkit-filter: blur(10px) grayscale(50%); */
}

#top-main-menu-container{
  z-index: 1000;
  background-color: #1E1E1E;
  position: relative;
}

.nav.navbar-nav.yamm{
  z-index: 1000;
}

.yellow{
  color: #ffc800 !important; 
}

.bg-yellow{
  background-color: #ffc800 !important; 
}

a .grow {     
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-size: 100% !important; 

  position: relative;
}

a:hover .grow{
  text-decoration: none !important;
  background-size: 105% !important; 
}


a.no-underline:hover,
a:hover div{
  text-decoration: none !important;
}

.ui-autocomplete.ui-front{
  z-index: 1001 !important;
}

li.single-business-element{
  list-style: none;
}

.jscroll ol{
  margin-bottom: 0px;
}

.next-pagination{
  list-style: none;
}
.next-pagination,
.next-pagination li,
.next-pagination li a{
    display: block;
    text-align: center;
    width: 100%;
}

.next-pagination li a{
  color: rgb(98,58,62); 
  background-color: #FFC800; 
  border-color: #FFD900; 
} 


.next-pagination li a:hover, 
.next-pagination li a:focus, 
.next-pagination li a:active, 
.next-pagination li a.active, 
.open .dropdown-toggle.next-pagination li a { 
  color: #000; 
  background-color: #ffc800; 
  border-color: #FFD900; 
}
 
.next-pagination li a:active, 
.next-pagination li a.active, 
.open .dropdown-toggle.next-pagination li a { 
  background-image: none; 
} 
 
.next-pagination li a.disabled, 
.next-pagination li a[disabled], 
fieldset[disabled] .next-pagination li a, 
.next-pagination li a.disabled:hover, 
.next-pagination li a[disabled]:hover, 
fieldset[disabled] .next-pagination li a:hover, 
.next-pagination li a.disabled:focus, 
.next-pagination li a[disabled]:focus, 
fieldset[disabled] .next-pagination li a:focus, 
.next-pagination li a.disabled:active, 
.next-pagination li a[disabled]:active, 
fieldset[disabled] .next-pagination li a:active, 
.next-pagination li a.disabled.active, 
.next-pagination li a[disabled].active, 
fieldset[disabled] .next-pagination li a.active { 
  background-color: #FFC900; 
  border-color: #FFD900; 
} 


.nav > li > a.city:active, .nav > li > a.city:hover{
  background-color: transparent !important;
  text-decoration: none;
}
 
.nav > li > a.city:link{
  background-color: transparent !important;
  text-decoration: none;
}


.bg-yellow{
  background-color: #ffc800 !important; 
}


.inner-addon { 
  position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
  z-index: 9999;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.va-container-v{
  width:100%;
}

.va-container-h{
  height:100%;
}

.va-container{
  display: table;
  position: relative;
}

.va-top, .va-middle, .va-bottom {
  display: table-cell;
}

.va-top {
  vertical-align: top;
}

.va-middle {
  vertical-align: middle;
}

.va-bottom {
  vertical-align: bottom;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
  width:auto !important;
}

.btn-group.bootstrap-select .btn{
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

.list-compressed > li{
  padding-left:1px; padding-right:1px;
}

.hoverable .hide-on-hover{
  display:block;
}

.hoverable .show-on-hover{
  display:none;
}

a.hover-underline:hover{
  text-decoration: underline !important;
}

a.hover-color-turquoise:hover,
a.hover-color-turquoise:hover .label{
  color: #00DCC1 !important;
}

a.hover-color-gray:hover{
  color: #999999 !important;
}

a.hover-bg-yellow:hover{
  background-color: #ffc800 !important;
}

a.hover-color-yellow:hover{
  color: #ffc800 !important;
}


a.hover-border-gray:hover{
  border-color: #999999 !important;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #f5f5f5;
}


.package-card-holder table.table > tbody > tr:first-child > th, 
.package-card-holder table.table > tbody > tr:first-child > td{
  
  border-top: 0px !important;
}


/* .dropdown:hover .dropdown-menu {
_display: block;
}*/

/* .col-md-15, .col-xs-15{
    width:20%;
}*/

.col-xs-20, .col-sm-20, 
.col-md-20, .col-lg-20 { 
  position: relative; 
  min-height: 1px; 
  padding-right: 10px; 
  padding-left: 10px;
}

.col-xs-20 { 
  width: 20%; float: left; 

} 

@media (min-width: 768px) { 
  .col-sm-20 { 
    width: 20%; 
    float: left; 
  } 
} 

@media (min-width: 992px) { 
  .col-md-20 { 
    width: 20%; float: left;
   }
} 

@media (min-width: 1200px) { 
  .col-lg-20 { 
    width: 20%; 
    float: left; 
    }
}


.cover-parallax{
  position:absolute; 
  height:450px;
  top:45px;
  width:100%;
  z-index:0;


}

.overlap-parallax-mobile{
  position:absolute; 
  height:450px; 
  top:45px; width:100%; 
  z-index:0;
}

.overlap-parallax{
  position:absolute; height:130px; 
  top:365px; width:100%; z-index:0;
}

.overlap-parallax-content{
  height:400px;
}

.overlap-parallax-content-no-photo{
  height:413px;
}


.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #ffc800;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 3px;
}

ul.vertical-filter .btn{
  padding:3px 4px 3px 4px;
  font-size: 11px;
}

.background-login-screen{
  background-image: url(https://s3.amazonaws.com/mazkaracdn/css/images/authenticate-background-lite.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}