@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("fonts/flat_icon.eot#iefix") format("embedded-opentype"),
	url("flat_icon.woff") format("woff"),
	url("flat_icon.ttf") format("truetype"),
	url("flat_icon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
	font-style: normal;
	width: 25px;
}.flaticon-33:before {
	content: "\e000";
}
.flaticon-acupuncture:before {
	content: "\e001";
}
.flaticon-apple41:before {
	content: "\e002";
}
.flaticon-brush18:before {
	content: "\e003";
}
.flaticon-calentar:before {
	content: "\e004";
}
.flaticon-chronometer19:before {
	content: "\e005";
}
.flaticon-claw1:before {
	content: "\e006";
}
.flaticon-credit26:before {
	content: "\e007";
}
.flaticon-debit:before {
	content: "\e008";
}
.flaticon-dental6:before {
	content: "\e009";
}
.flaticon-dentist:before {
	content: "\e00a";
}
.flaticon-enter3:before {
	content: "\e00b";
}
.flaticon-family21:before {
	content: "\e00c";
}
.flaticon-fast-food:before {
	content: "\e00d";
}
.flaticon-flowers38:before {
	content: "\e00e";
}
.flaticon-fruit24:before {
	content: "\e00f";
}
.flaticon-fruits4:before {
	content: "\e010";
}
.flaticon-hair11:before {
	content: "\e011";
}
.flaticon-hairdryer6:before {
	content: "\e012";
}
.flaticon-hairsalon4:before {
	content: "\e013";
}
.flaticon-healthy1:before {
	content: "\e014";
}
.flaticon-healthy7:before {
	content: "\e015";
}
.flaticon-heart256:before {
	content: "\e016";
}
.flaticon-heart36:before {
	content: "\e017";
}
.flaticon-house204:before {
	content: "\e018";
}
.flaticon-jewelry:before {
	content: "\e019";
}
.flaticon-kids1:before {
	content: "\e01a";
}
.flaticon-king17:before {
	content: "\e01b";
}
.flaticon-massage2:before {
	content: "\e01c";
}
.flaticon-money179:before {
	content: "\e01d";
}
.flaticon-mortar2:before {
	content: "\e01e";
}
.flaticon-mortar4:before {
	content: "\e01f";
}
.flaticon-mouth3:before {
	content: "\e020";
}
.flaticon-natural4:before {
	content: "\e021";
}
.flaticon-night12:before {
	content: "\e022";
}
.flaticon-parking12:before {
	content: "\e023";
}
.flaticon-parking19:before {
	content: "\e024";
}
.flaticon-plump:before {
	content: "\e025";
}
.flaticon-sale21:before {
	content: "\e026";
}
.flaticon-screen54:before {
	content: "\e027";
}
.flaticon-spa10:before {
	content: "\e028";
}
.flaticon-spa21:before {
	content: "\e029";
}
.flaticon-tags9:before {
	content: "\e02a";
}
.flaticon-teacher26:before {
	content: "\e02b";
}
.flaticon-television3:before {
	content: "\e02c";
}
.flaticon-television35:before {
	content: "\e02d";
}
.flaticon-thin37:before {
	content: "\e02e";
}
.flaticon-tooth12:before {
	content: "\e02f";
}
.flaticon-transport81:before {
	content: "\e030";
}
.flaticon-users68:before {
	content: "\e031";
}
.flaticon-wifi74:before {
	content: "\e032";
}
.flaticon-woman139:before {
	content: "\e033";
}
